<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车_一米市集</title>
    {:widget('Ipublic/head')}
    <link rel="stylesheet" href="__STATIC__/index/css/cart.css">
</head>
<body>
<!--顶部-->
<div class="top"></div>
<!--主要内容-->
<div class="container">
    <!--头部-->
    {:widget('Ipublic/header')}
    <!--主模块-->
    <!--购物车为空时-->
    <div class="cart-section section cart-null noSec">
        <div class="head">
            <div class="cart-icon">
                <h1>
                    <img src="__STATIC__/index/img/ym_icon_cart.png" alt="">
                    购物车
                </h1>
            </div>
        </div>
        <div class="data">
            <div class="mess">
                <img src="__STATIC__/index/img/ym_icon_cart.png" alt="">
                <p>购物篮中空空的喔,慢慢逛，不要忘记带上「食欲」</p>
            </div>
        </div>
    </div>
    <!--底部、回到顶部按钮、客服按钮-->
    {:widget('Ipublic/footer')}
</body>
</html>