<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input class="searchinput" type="text">
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text">管理员</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Manager/index')}">
                                    <span class="menu-text">
                                        管理列表                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">商品管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Goods/goodsList')}">
                                    <span class="menu-text">
                                        商品列表
                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">订单管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Order/index')}">
                        <span class="menu-text">
                                        订单列表                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="menu-text">
                                        订单日志                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">图片设置</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Image/index')}">
                                    <span class="menu-text">
                                        图片列表                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>

        </li>
        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">购物车管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Article/index')}">
                                    <span class="menu-text">
                                        购物车列表                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">收货地址设置</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Article/index')}">
                                    <span class="menu-text">
                                        地址设置
                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">角色设置</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Role/index')}">
                                    <span class="menu-text">
                                        角色等级                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">权限设置</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Article/index')}">
                                    <span class="menu-text">
                                        角色分配                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">用户管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Member/index')}">
                                    <span class="menu-text">
                                        用户列表                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="menu-dropdown">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">分类管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('Cate/index')}">
                                    <span class="menu-text">
                                        分类列表                                    </span>
                        <i class="menu-expand"></i>
                    </a>
                </li>
            </ul>
        </li>
    <!-- /Sidebar Menu -->
</div>